extends ../templates/_template.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Описание страницы')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content
  |
  |
  .page.page-index
    |
    |
    //- Header
    include ../components/header/header.pug
    //- Header/
    |
    |  
    .wrap-main
      |
      |
      .container
        |
        |
        //- Desktop page
        h1 Начальная страница 
        |
        |
        include ../components/breadcrumbs/breadcrumbs.pug
        |
        |  
    |
    |
    //- Footer
    include ../components/footer/footer.pug
    //- Footer/
    |
    |
    include ../components/popup/popup.pug
    |
    | 
  |
  |
  //-<svg width="12" height="16">
  //-  <use xlink:href="./assets/svg/svg_sprite.svg#geo"></use>
  //-</svg>
  |
  |